PORT=5000
MONGODB_URI=mongodb+srv://nafismansoori14_db_user:aAEymVyvorX9y6TM@cluster0.bmicg8j.mongodb.net/
JWT_SECRET=replace_this_with_a_strong_secret
JWT_REFRESH_SECRET=replace_this_with_a_strong_refresh_secret
NODE_ENV=development
